/* 
	Global classes 
					*/
body {
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
}


#screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
}

.head-bar {
	color: white;
	background-color: #e6ccff;
	text-align: center;
	text-shadow: 2px 2px black;
	height: 45px;
	margin-bottom: 10px;
	position: relative;
}

.back-button {
	float:left;
	color: purple;
	background-color:#DDDDDD;
	text-shadow: 0px 0px white;
	margin-top: 7px;
	margin-left: 10px;
	text-align: left;
	text-indent: 8px;
	padding-top: 3px;
	width: 60px;
	height: 26px;
	border: 1px solid white;
	position: relative;

}

/* 
	Albums 
			*/


.albums-album-wrapper {
	display: inline-block;
	width: 130px;
    height: 200px;
    margin: 8.5px; 
    position: relative;
}

.albums-album-art {
	width: 130px;
	height: 130px;
	position: relative;
}

.albums-album-name {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	line-height: 0.3;
	position: relative;
}

.albums-artist-name {
	font-size: 14px;
	font-style: oblique;
	text-align: center;
	line-height: 0.3;
	position: relative;
}

/* 
	Songs 
			*/
.songs-info-wrapper {
	overflow: auto;
}

.songs-album-art {
	float: left;
	width: 50%;
	text-indent: 10px;
	position: relative;
}

.songs-album-name {
	float:right;
	width: 40%;
	font-size: 22px;
	font-weight: bold;
	text-align: left;
	line-height: 1.3;
	position: relative;
}

.songs-artist-name {
	font-size: 18px;
	font-style: oblique;
	font-weight: normal;
	position: relative;
}

.songs-text-info {

}

.songs-album-year {
	font-size: 18px;
	font-weight: normal;
	position: relative;
}

.songs-list {
	list-style-position: outside;
	width: 245px;
	border: 1px solid grey;
	padding-left: 3px;
	margin-bottom: 3px;
	line-height: 1.5;
	position: relative;

}

/* 
	Player 
			*/
.player-album-art {
	position: relative;
 	left: 30px;
	top: 10px;
}

.player-song-info {
	position: relative;
	color:#666666;
	font-size:20px;
	top:0px;
}

#player-song-name {
	position: relative;
	color: #cc99ff;
	font-size:18px;
	top: -20px;
}

.volume-bar {
	position: relative;
	left: 50px;
	top: -30px;
}

.volume-bar div{
	float: left;
  	height: 6px;
  	width: 24px;
  	border: 1px solid black;
  	margin-left: 5px;
}

.volume-level {
	position: relative;
	left:-160px;
	top: -38px;
}

.volume-rocker {
	position: relative;
	left: 50px;
	top: -40px;
}

.volume-rocker button{
  	width: 95px;
}
.player-controls{
	position: relative;
  	left:65px;
  	top:-50px;
}
.player-controls button{
  	background-color: #eeeeee;
  	width: 50px;
  	height: 30px;
  	text-align: center;
}

#player-time {
	position: relative;
  	left: 30px;
  	top: -30px;
}

#player-time input{
  	width:230px;
}

#time-elapsed {
	position: relative;
  	left: 0px;
  	top: 0px;
}

#time-total{
	position: relative;
  	left: 200px;
  	top: -20px;
}